html {
  background-color: #242424;
  height: 100%;
  color: grey;
}

body {
  margin: 0;
  height: 100%;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

.node {
  position: absolute;
  background: black;
  width: 40px;
  height: 40px;
  color: white;
}
