<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>load</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'editor/css/master.css' %}">
  </head>
  <body>
    <form class="" action="{% url 'edit' %}" method="post">
      {% csrf_token %}
      <p>Paste the JSON of your graph into the textarea</p>
      <textarea name="textareaNodesJSON" rows="8" cols="80">{% if JSON %}{{ JSON }}{% endif %}</textarea>
      <input type="submit" name="value" value="Submit">
    </form>
  </body>
</html>
